body {
    background-color: aqua;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color: rgb(255, 0, 179);
}

h1 {
    color: red;
    font-size: 16px;
    border-bottom: 2px solid rgb(255, 0, 0);
}

img {
    float: right;
    display: inline-block;
  }

p {
    width: 35%;
}


a {
    font-weight: bold;
    color: rgb(68, 0, 255);
}

a:hover {
    background-color: yellow;
}

figure {
    border: thin #c0c0c0 solid;
    display: flex;
    float: left;
    flex-flow: column;
    padding: 5px;
    max-width: 400px;
    margin: auto;
}

figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}